@font-face {
  font-family: "Recta";
  src: url("./fonts/Recta-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Recta";
  src: url("./fonts/Recta-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recta-Medium.otf") format("opentype"),
    url("./fonts/Recta-Medium.woff") format("woff"),
    url("./fonts/Recta-Medium.ttf") format("truetype"),
    url("./fonts/Recta-Medium.svg#Recta-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Recta";
  src: url("./fonts/Recta-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recta-Light.otf") format("opentype"),
    url("./fonts/Recta-Light.woff") format("woff"),
    url("./fonts/Recta-Light.ttf") format("truetype"),
    url("./fonts/Recta-Light.svg#Recta-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Recta";
  src: url("./fonts/Recta-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recta-Bold.otf") format("opentype"),
    url("./fonts/Recta-Bold.woff") format("woff"),
    url("./fonts/Recta-Bold.ttf") format("truetype"),
    url("./fonts/Recta-Bold.svg#Recta-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: Recta;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222222;
  font-size: 18px;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select {
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select:focus {
  outline: 0;
}

.App-message {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Align-link {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.Align-link > a {
  color: #222222;
  font-size: 26px;
}

.Align-link > a:hover {
  color: #fff;
}

.App-message.main {
  background-color: #e0e0e0;
  border-radius: 24px;
  width: 300px;
}
.App-message.main > p {
  margin: 20px 20px 0 20px;
  display: block;
}

.button {
  border-radius: 64px;
  border: 0;
  padding: 18px;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  background-color: #90fa56;
  cursor: pointer;
  text-transform: uppercase;
  margin: 20px;
}

.button.disabled {
  background-color: #828282;
  cursor: progress;
}

.button:hover {
  background-color: #4ba65f;
}
.App-message button.disabled:hover {
  background-color: #828282;
}

.App-link {
  color: #61dafb;
}

.Test-controls > * {
  padding: 20px;
}

.Activity-level > p {
  margin: 0px;
  margin-bottom: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.frameContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  pointer-events: none;
  flex-wrap: wrap;
  align-content: flex-start;
}

.frameContainer iframe {
  width: 10%;
  height: 8%;
  outline: none;
  border: none;
  background: wheat;
}
